@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "UserList";
    var counter = 0;
}

<div class="container">

    @if (Model.Any())
    {
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-between">
                <h3>Admins</h3>
                <a asp-action="create" class="btn btn-primary">Create New Admin</a>

            </div>
            <div class="col-lg-12">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">UserName</th>
                            <th scope="col">FullName</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            counter++;
                            <tr>
                                <th scope="row">@counter</th>
                                <td>@item.UserName</td>
                                <td>@item.FullName</td>
                                <td></td>
                                <td>
                                    <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning remove-button">Edit</a>
                                    <a asp-action="remove" asp-route-id="@item.Id" class="btn btn-danger remove-button">Delete</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No users created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a user
                </h5>
                <a class="btn btn-primary" style="width:auto"
               asp-controller="Account" asp-action="create">
                    Add new user
                </a>
            </div>
        </div>
    }

</div>


