@model ProfileViewModel
@{
    ViewData["Title"] = "Icomp Profile";
    var counter = 0;
}

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Profil</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Sifarişlər</button>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="form-row">
                <h5>Account Details</h5>
                @Html.Partial("_ProfileFormPartial",Model.UserUpdate)
            </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            @foreach (var item in Model.Orders)
            {
                <table class="rwd-table main-product-table">
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>
                    @{
                        counter++;
                    }
                    <tr>
                        <td data-th="Order">#@counter</td>
                        <td data-th="Date">@item.CreatedAt</td>
                        <td data-th="Status">@item.Status</td>
                        <td data-th="Total">@item.TotalPrice</td>
                    </tr>

                </table>
                <div class="product-details-table" style="display:none; margin:0 auto; width:85%;">

                    <table class="rwd-table">
                        <tr>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Brand</th>
                            <th>Category</th>
                        </tr>
                        @foreach (var product in item.OrderItems)
                        {
                            <tr>

                                <td data-th="Name">@product.Product.Name</td>
                                <td data-th="Count">@product.Count</td>
                                <td data-th="Brand">@product.Product.Brand.Name</td>
                                <td data-th="Category">@product.Product.Category.Name</td>
                            </tr>
                        }

                    </table>
                </div>
            }

        </div>
    </div>
</div>