@using IComp.Service.Helpers
@using Microsoft.AspNetCore.Identity

@inject LayoutService layoutService
@inject UserManager<AppUser> userManager
@{
    var loginPost = layoutService.GetLoginPost();
    var basket = await layoutService.GetBasketItems();
    var setting = await layoutService.GetSetting();
    var categories = await layoutService.GetCagegories();
    AppUser appUser = null;
    if (User.Identity.IsAuthenticated)
    {
        appUser = userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin);
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav Ico -->
     <link rel="icon" type="image/x-icon" href="~/assets/img/Icons/icompico.ico">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400&family=Nunito+Sans:wght@200;300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" type="text/css"
        media="all" />

    <link rel="stylesheet" type="text/css" href="~/assets/css/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick/slick-theme.css" />
    <!-- Toastr Css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/assets/css/style.css"/>
    <link href="~/assets/js/toast/jquery.toast.min.css" rel="stylesheet" type="text/css"/>


    <title>@ViewData["Title"]</title>
</head>

<body>
   @if (TempData["Success"] != null)
        {
            <input type="hidden" id="success-toaster" value="@TempData["Success"]" />
        }
        @if (TempData["Warning"] != null)
        {
            <input type="hidden" id="warning-toaster" value="@TempData["Warning"]" />
        }
        @if (TempData["Info"] != null)
        {
            <input type="hidden" id="info-toaster" value="@TempData["Info"]" />
        }
        @if (TempData["Error"] != null)
        {
            <input type="hidden" id="error-toaster" value="@TempData["Error"]" />
        }
    <header>
        <link href="~/assets/js/plugin/simple-lightbox.min.css" rel="stylesheet" />

        <div class="header-main">

        <div class="menu-head">
            <div class="container">
                <ul>
                    <li><a asp-action="make" asp-controller="home" style="font-weight: 700;">Kompüter yığılması</a></li>
                    @if (appUser != null)
                   {
                       @if (!User.IsInRole("SuperAdmin"))
                      {
                        <li><img src="~/assets/img/Icons/user.svg" alt=""> <a asp-action="profile" asp-controller="account" style="font-weight: 700;">@appUser.FullName</a> <a asp-action="logout" asp-controller="account" style="font-weight: 700;" >Çıxış</a></li>
                      }
                   }
                    else
                    {
                        <li><img src="~/assets/img/Icons/user.svg" alt=""> <a href="#" style="font-weight: 700;" data-bs-toggle="modal" data-bs-target="#loginModal">Daxil ol</a></li>
                    }
                </ul>
            </div>
        </div>

        <nav class="main-navbar">

            <div class="container">
                <div class="navbar__menu">
                    <div class="row">
                        <div class="col-4">
                            <div class="navbar__menu-item">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="navbar__menu-item-inner">
                                            <div class="navbar__menu-item-logo">
                                                <a asp-action="Index" asp-controller="home">
                                                Xceptional HOME></a>
                                            </div>
                                            <div class="navbar__menu-item-text">
                                        

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="search-table">
                                
                            </div>
                        </div>


                        <div class="col-8">
                            <div class="navbar__menu-item">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="navbar__menu-item-address">
                                           
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="navbar__menu-item-phone">
                                           
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="navbar__menu-item-socials">
                                           
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="navbar__menu-item-basket">
                                            <div class="menu-basket-box">
                                                <div class="menu-basket-counter">
                                                    <span class="basket-counter-value">0</span>
                                                </div>

                                                <div class="menu-basket-icon">
                                                    <a asp-action="GetBasketItems" asp-controller="catalog" id="basket-icon">
                                                        <img src="~/assets/img/Settings/iCartWhite.png" alt="">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            <div class="main-navbar__mobile">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-2 col-sm-2 col-2">
                            <div class="main-navbar__catalog-box">
                                <div class="main-navbar__catalog-box-inner">
                                    <div class="catalog-text">
                                        <img src="~/assets/img/Hamburger/menu.svg" alt="">
                                        <p>Mağaza Kataloqu</p>
                                    </div>
                                </div>
                                <div class="main-navbar__catalog-menu">
                                    <ul class="dropdown-list">
                                        @foreach (var item in categories)
                                       {
                                        <li class="catalog-menu-item">
                                            <a asp-action="index" asp-controller="catalog" asp-route-categoryid="@item.Id"><img src="~/uploads/categories/@item.Image" alt="">
                                                @item.Name</a>
                                        </li>   
                                       }
                                    </ul>
                                </div>
                                <div class="main-navbar__hamburger">
                                    <img src="~/assets/img/Hamburger/menu.svg" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-10 col-sm-10 col-10">
                            <form asp-action="search" asp-controller="catalog" method="get" id="searchProd">
                                <div class="searchElements">
                                    <input type="text" class="navbar__input" placeholder="Məhsul axtarışı"
                                        id="searchString" form="search-all-prod" name="searchString" role="textbox">
                                    <button form="search-all-prod" class="search-button" type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                            </form>
                            <form asp-action="searchall" asp-controller="catalog" id="search-all-prod">
                            </form>
                            
                        </div>
                        <div class="main-navbar__mobile-menu deactive" id="menu">
                            <ul class="mobile-menu__dropdown-list">
                                <li class="mobile-menu-item">
                                    <a href="">Kataloq</a>
                                </li>
                                <div class="sub-mobile-menu close">
                                    <ul class="sub-dropdown-list">
                                        @foreach (var item in categories)
                                       {
                                        <li class="sub-mobile-menu-item"><a asp-action="index" asp-controller="catalog" asp-route-categoryid="@item.Id" style="color:white;"><img width="20" src="~/uploads/categories/@item.Image" alt="">
                                                @item.Name</a></li>   
                                       }
                                        
                                    </ul>
                                </div>
                                <li class="mobile-menu-item home-nav"><a asp-action="index" asp-controller="home">Home</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </nav>

        </div>
    </header>


    @RenderBody()

    <footer>
         <div class="modal fade" id="fastOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Zənbil</h5>
                        <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-inner">
                            
                        </div>
                       <div class="loader-wrapper" style="display: none;"><div class="reverse-spinner"></div></div>
                       
                    </div>
                      
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Səbət</h5>
                        <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-basket-inner">
                             @if (basket.BasketItems.Any(x => x.Product != null))
                        {
                             @( await Html.PartialAsync("_BasketPartial",basket))
                        }
                        </div>
                       <div class="loader-wrapper" style="display: none;"><div class="reverse-spinner"></div></div>
                       
                    </div>
                      
                </div>
            </div>
        </div>

          <!-- Modal Login -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-m" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle" style="text-align: center;">Qeydiyyat</h5>
                        <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @(await Html.PartialAsync("_LoginFormPartial", loginPost))
                    </div>
                </div>
            </div>
        </div>
        


        <script src="~/assets/js/plugin/simple-lightbox.min.js"></script>
        <script src="~/assets/js/plugin/simple-lightbox.legacy.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/assets/js/plugin/simple-lightbox.jquery.min.js"></script>
        
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        type="text/javascript"></script>

     

    <!-- Carousel -->
    <script src="~/assets/css/slick/slick.min.js"></script>

    <script src="~/assets/js/main.js" ></script>

    <script src="~/assets/js/slider.js" ></script>

    <!--=== All Plugins Js ===-->
    <script src="~/assets/js/range.js"></script>
    <script src="~/assets/js/toast/jquery.toast.min.js"></script> 
    @*Toastr Script*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @RenderSection("Scripts",required:false)
      <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(document).ready(function () {
            if ($("#success-toaster").length) {
                toastr["success"]($("#success-toaster").val());
            }
        });
        $(document).ready(function () {
            if ($("#warning-toaster").length) {
                toastr["warning"]($("#warning-toaster").val());
            }
        });
        $(document).ready(function () {
            if ($("#info-toaster").length) {
                toastr["info"]($("#info-toaster").val());
            }
        });
        $(document).ready(function () {
            if ($("#error-toaster").length) {
                toastr["error"]($("#error-toaster").val());
            }
        });
    </script>
</body>

</html>